
.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    }

.center {
    text-align: center;
    
}

h1, h2, h3, h4, h5, .prata {
    font-family: 'Prata', serif;
}

.ryan {
    font-size:25px;
}
p, .oswald, li, a {
    font-family: 'Oswald', sans-serif;
}

body, html {
    height: 100%;
}

.bioPara {
    font-size: 20px;
}